# Configurações do Banco de Dados
DB_DSN="pgsql:host=127.0.0.1;port=5432;dbname=NOME_DO_BANCO"
DB_USERNAME="postgres"
DB_PASSWORD="SENHA_DO_BANCO"

# Configurações do Yii2 Environment
YII_ENV="prod"     # dev / prod
YII_DEBUG="false"  # true / false

# Configurações do Mercado Pago (OAuth e Plataforma)
MP_APP_ID=""
MP_CLIENT_SECRET=""
MP_REDIRECT_URI=""
