/vendor/
/node_modules/
/runtime/
/web/assets/
/tests/_output/
/web/uploads/

/composer.phar
composer.lock

.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store
*.log
*.tmp
*.temp
*.bak
*.backup

.env
.env.local
.env.*.local
config/db-local.php
config/params-local.php
