# --- CREDENCIAIS DE APLICATIVO (OAUTH/LOGIN) ---
# Usamos o ID e Secret de Produção para gerar o link de "Conectar Conta"
# Isso é padrão do Mercado Pago, mesmo em testes.
MP_APP_ID=4777293133048723
MP_CLIENT_SECRET=8B7qSDPuTR14bl9G2ufbpEJEdVo0xslf

# --- CREDENCIAIS DE PROCESSAMENTO (PAGAMENTO) ---
# Usamos as chaves TEST para que o dinheiro seja fictício.
MP_PUBLIC_KEY=TEST-60c9d52f-7e10-4863-b650-3e8a05dcdbae
MP_ACCESS_TOKEN=TEST-4777293133048723-102315-b429240544dafbe7ef71d359c77fbe13-24111981

# --- CONFIGURAÇÃO DO AMBIENTE ---
MP_ENV=sandbox

# IMPORTANTE: Esta URL deve ser IDÊNTICA à cadastrada no painel do Mercado Pago.
# Ajuste a porta (8080/80) ou caminho se necessário.
MP_REDIRECT_URI=http://localhost:8080/pulse/web/index.php/api/mercado-pago/oauth-callback