RewriteEngine On

# --- ADICIONE ESTAS DUAS LINHAS ---
# Passa o cabeçalho de autorização para o PHP/Yii2
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# ---------------------------------

# Define index.html como padrão na raiz (para landing page)
# Mas permite que index.php seja acessado diretamente
DirectoryIndex index.html index.php

# Se o diretório ou arquivo existir, acesse-o diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Senão, redirecione a requisição para index.php
RewriteRule . index.php